<div class="py-3 px-4 mx-4 bg-light register-form">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>